<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Game started:</strong>
  <%= @room.game_started %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @room.visibility %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @room.owner %>
</p>

<p>
  <strong>Czar:</strong>
  <%= @room.czar %>
</p>

<p>
  <strong>Players:</strong>
  <%= @room.players %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
